# Ignore pytest cache and Python bytecode
**/.pytest_cache/
__pycache__/
*.pyc
*.pyo

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore virtual environment
.venv/
.venv/*

# Ignore build artifacts
pytest_core/build/
pytest_core/core.egg-info/
pytest_with_core_plugin/pytest_with_core_plugin.egg-info/
pytest_with_core_plugin/pytest_zero/report.html
pytest_with_core_plugin/report.html
report.html

#pact files
pacts/
logs/